* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

main {
    background-color: rgb(183, 160, 216);
    height: 100vh;
}

.app-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

/* LEARNING CARDS ******************** LEARNING CARDS *********************** LEARNING CARDS */
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 15px;
}

.card {
    height: 0;
    padding-top: 100%;
    position: relative;
    border: 1px solid rgb(179, 157, 209);
    border-radius: 1%;
}

.cards-img-container {
    position: absolute;
    top: 0;
    background-color: rgb(179, 157, 209);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal-img {
    height: 90%;
    width: 90%;
    object-fit: contain;
} 

/* INDIVIDUAL CARD ********************* INDIVIDUAL CARD ***************** INDIVIDUAL CARD */
.animal-card-container {
    background-color: rgb(183, 160, 216);
    padding: 0 3%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-animal-card {
    position: absolute;
    top: 3%;
    right: 3%;
    /* color: blue;
    stroke-width: 1px;
    width: 15px;
    height: 15px; */
}

.chevron-placeholder {
    width: 70px;
    height: 70px;
}

.card-img-container {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    border-right: 1px solid black;
}

.card-img-container .animal-img {
    width: 65%;
    height: 65%;
}

.audio-btn-container {
    display: flex;
    flex-direction: column;
}

.audio-btn {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 2%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.audio-btn:first-child {
    margin-bottom: 30px;
}

.message-circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.message-circle.mirrored {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    left: 0;
}

.audio-btn-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/* QUIZ ********************** QUIZ ************** */
.quiz-component-container {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* POINT TRACKER ***************************** POINT TRACKER *************************** POINT TRACKER */
.score-tracker-container {
    display: flex;
    align-self: flex-end;
    margin-bottom: 30px;
}

.score-slot {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(205, 187, 230);
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    display: none;
}

.sun,
.cloud {
    width: 40px;
    height: 40px;
    display: block;
}

.sun {
    color: rgb(253, 253, 150);
}

.cloud {
    color: lightgrey;
}

/* QUESTION *********************** QUESTION ************************* QUESTION */
.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-img-container {
    max-width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.question-animal-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.answers-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-btn-quiz {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: rgb(205, 187, 230);
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
}

.green-bg {
    transition: background-color 2s;
    background-color: green;
}

.audio-btn-quiz:hover {
    transition: background-color 0.5s;
    background-color: rgb(197, 172, 231);
}

.thumbs-up {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.thumbs-up:hover {
    transition: opacity 0.2s;
    opacity: 0.5;
}

.thumbs-up:active,
.thumbs-up:focus {
    color:rgb(253, 253, 150);
}

/* QUIZ END ************ QUIZ END ************** QUIZ END ************* QUIZ END */
.quiz-end-component-container {
    padding: 0 3%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(183, 160, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-end-component-container .score-tracker-container {
    align-self: center;
    margin-bottom: 100px;
}

.quiz-end-component-container .score-slot {
    width: 150px;
    height: 150px;
}

.quiz-end-component-container .score-slot.one {
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.quiz-end-component-container .score-slot.two {
    animation: 1s ease-out 0.3s 1 slideInFromTop;
}

.quiz-end-component-container .score-slot.three {
    animation: 1s ease-out 0.6s 1 slideInFromTop;
}

.quiz-end-component-container .score-slot.four {
    animation: 1s ease-out 0.9s 1 slideInFromTop;
}

.quiz-end-component-container .score-slot.five {
    animation: 1s ease-out 1.2s 1 slideInFromTop;
}

.quiz-end-component-container .sun,
.quiz-end-component-container .cloud {
    width: 140px;
    height: 140px;
}

.quiz-end-component-container .nav-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    /* animation: 1.5s ease-out 1.3s 1 fadein; */
}

.quiz-end-component-container .nav-container .nav-icon {
    width: 100px;
    height: 100px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.quiz-end-component-container .nav-container .nav-icon:hover,
.quiz-end-component-container .nav-container .nav-icon:focus {
    outline: none;
    transition: opacity 0.2s;
    opacity: 0.5;
}

.quiz-end-component-container .nav-container .nav-icon:active {
    color:rgb(253, 253, 150);
}

@keyframes fadein {
  0% { opacity: 0 }
  100%   { opacity: 1}
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-90%);
    }
    100% {
        transform: translateY(0);
    }
}

/* MEMORY ********************** MEMORY ****************** MEMORY ***************** */
/* memory component ************************** memory component ***************** memory component */
.memory-container {
    display: flex;
    align-items: center;
    padding: 0 1%;
}

/* memory sounds & images ************************ memory sounds & images ********************** memory sounds & images */
.memory-cards-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 15px;
}

.memory-cards-container:first-child {
    margin-right: 30px;
}

.memory-card {
    height: 0;
    padding-top: 100%;
    position: relative;
    border: 2px solid rgb(179, 157, 209);
    border-radius: 1%;
    cursor: pointer;
}

.memory-card .animal-img {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.dark-border {
    transition: border-color 0.5s;
    border-color: rgb(86, 14, 187); 
}

.memory-container .message-circle {
    width: 50px;
    height: 50px;
}

.cards-img-container.sound-btn {
    align-items: flex-end;
}