* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

main {
    background-color: rgb(183, 160, 216);
    min-height: 100vh;
    font-family: 'Righteous', cursive;
}

.app-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

/* APP HEADER ************************* APP HEADER **************************** APP HEADER */
.app-header {
    height: 70px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.app-header h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.paw {
    width: 25px;
}

.header-nav-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header-nav-link {
    color: black;
    cursor: pointer;
}

.header-nav-icon {
    width: 40px;
    height: 40px;
    transition: opacity 0.2s;
}

.header-nav-icon:hover {
    outline: none;
    opacity: 0.5;
}

.header-nav-icon:active {
    color:rgb(253, 253, 150);
}

/* INFORMATION COMPONENT ****************** INFORMATION COMPONENT ************* INFORMATION COMPONENT*/
.info-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}


.info-container {
    position: absolute;
    padding: 0 10px;
    top: 10px;
    right: 10px;
    background-color: #fff;
    width: 500px;
    height: 700px;
    z-index: 2;
    animation: 1s ease-in slideIn;
}

.x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.info-container h2 {
    border-bottom: 1px solid black;
}

.info-container h5 {
    color: grey;
    position: absolute;
    left: 10px;
    bottom: 0;
}

.info-container h4 {
    font-size: 13px;
    margin-bottom: 15px;
}

.info-container .features-container {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-auto-flow: row;
}

.info-container h4 span {
    text-transform: uppercase;
    letter-spacing: 1px;
}

@keyframes slideIn {
  0% { transform: translateX(100%); opacity: 0; }
  100%   { transform: translateX(0); opacity: 1; }
}

/* HOME COMPONENT ******************++ HOME COMPONENT ******************** HOME COMPONENT */
.home-container {
    width: 100%;
    height: 90vh;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.activity-container {
    color: rgb(211, 199, 228);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.7s;
}

.activity-container:hover,
.activity-container:focus {
    outline: none;
    transform: scale(1.2);
}

.activity-container:active {
    transform: scale(0.7);
}

.activity-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}

.activity-container h1 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* LEARNING CARDS ******************** LEARNING CARDS *********************** LEARNING CARDS */
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    gap: 15px;
    padding: 30px 60px;
}

.card {
    height: 0;
    padding-top: 100%;
    position: relative;
    border-radius: 1%;
    cursor: pointer;
    background-color: rgb(179, 157, 209);
    transition: transform 0.5s, background-color 0.5s;
}

.card:hover {
    background-color: rgb(186, 170, 209);
    transform: scale(1.05);
    z-index: 1;
}

.card:active {
    opacity: 0.7;
    transform: scale(0.7);
}

.cards-img-container {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
}

.animal-img {
    height: 90%;
    width: 90%;
    object-fit: contain;
} 

/* INDIVIDUAL CARD ********************* INDIVIDUAL CARD ***************** INDIVIDUAL CARD */
.animal-card-container {
    background-color: rgb(183, 160, 216);
    padding: 0 3%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-animal-card {
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
}

.chevron {
    cursor: pointer;
}

.close-animal-card:active,
.chevron:active {
    opacity: 0.5;
}

.chevron-placeholder {
    width: 70px;
    height: 70px;
}

.card-img-container {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    border-right: 2px solid black;
}

.card-img-container .animal-img {
    width: 65%;
    height: 65%;
}

.audio-btn-container {
    display: flex;
    flex-direction: column;
}

.audio-btn {
    width: 130px;
    height: 130px;
    background-color: rgb(205, 187, 230);
    border-radius: 3%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    transition: transform 0.5s;
}

.audio-btn:first-child {
    margin-bottom: 50px;
}

.audio-btn:hover {
    transform: scale(1.1);
}

.audio-btn:active {
    transform: scale(0.7);
}

.message-circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.message-circle.mirrored {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    left: 0;
}

.audio-btn-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/* QUIZ ********************** QUIZ ************** */
.quiz-component-container {
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*  SCORE TRACKER ***************************** SCORE TRACKER *************************** SCORE TRACKER */
.score-tracker-container {
    display: flex;
    align-self: flex-end;
    margin-bottom: 30px;
}

.score-slot {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(205, 187, 230);
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    display: none;
}

.sun,
.cloud {
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1;
    animation: 1s ease-out fadein, 1s ease-out slide;
}

.sun {
    color: rgb(253, 253, 150);
}

.cloud {
    color: lightgrey;
}

/* QUESTION *********************** QUESTION ************************* QUESTION */
.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-img-container {
    max-width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.question-animal-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.5s;
}

.question-animal-img:active {
    transform: scale(0.7);
}

.answers-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.answer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 210px;
}


.audio-btn-quiz {
    width: 90px;
    height: 90px;
    position: relative;
    background-color: rgb(205, 187, 230);
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 2s, transform 0.5s;
}

.green-bg {
    background-color: #91dd73;
}

.audio-btn-quiz:hover {
    transform: scale(1.1);
}

.thumb-container {
    width: 90px;
    height: 90px;
    background-color: rgb(205, 187, 230);
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: flex-start;
    transition: transform 0.5s;
}

.thumbs-up {
    width: 40px;
    height: 40px;
    stroke-width: 1px;
    transition: color 0.4s;
}

.thumbs-up:hover { 
   color:rgb(253, 253, 150); 
}

.thumbs-up:active,
.thumbs-up:focus {
    color:rgb(253, 253, 150);
}

.thumb-container:hover {
    transform: scale(1.1);
}

.thumb-container:active {
    transform: scale(-0.1);
}

/* QUIZ END ************ QUIZ END ************** QUIZ END ************* QUIZ END */
.game-end-component-container {
    padding: 0 3%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(183, 160, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-end-component-container .score-tracker-container {
    align-self: center;
    margin-bottom: 100px;
}

.game-end-component-container .score-slot {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(183, 160, 216);
}

.game-end-component-container .sun,
.game-end-component-container .cloud,
.game-end-component-container .gift {
    width: 140px;
    height: 140px;
}

.game-end-component-container .gift,
.game-end-component-container .sun,
.game-end-component-container .cloud {
    animation: 1s ease-out fadein, 1s ease-out slide;
    animation-delay: 1s;
}


.game-end-component-container .nav-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.game-end-component-container .nav-container .nav-icon {
    width: 100px;
    height: 100px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.game-end-component-container .nav-container .nav-icon:hover,
.game-end-component-container .nav-container .nav-icon:focus {
    outline: none;
    transition: opacity 0.2s;
    opacity: 0.5;
}

.game-end-component-container .nav-container .nav-icon:active {
    color:rgb(253, 253, 150);
}


/* MEMORY ********************** MEMORY ****************** MEMORY ***************** */
.memory-component-container {
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* MEMORY MATCHES TRACKER ****************** MEMORY MATCHES TRACKER ****************** MEMORY MATCHES TRACKER */
.gift {
    width: 40px;
    height: 40px;
    display: block;
    color: rgb(255,218,185);
    z-index: 1;
    animation-name: slide;
    animation-duration: 1s;
    /* animation-fill-mode: forwards; */
}



/* memory component ************************** memory component ***************** memory component */
.memory-container {
    display: flex;
    align-items: center;
    padding: 0 1%;
}

/* memory sounds & images ************************ memory sounds & images ********************** memory sounds & images */
.memory-cards-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 15px;
}

.memory-cards-container:first-child {
    margin-right: 70px;
}

.memory-card {
    height: 0;
    padding-top: 100%;
    position: relative;
    background-color: rgb(200, 177, 243);
    border-radius: 1%;
    cursor: pointer;
    transition: background-color 1s;
}

.memory-card:hover {
    background-color: rgb(212, 194, 245);
}

.chosen-card {
    height: 0;
    padding-top: 100%;
    position: relative;
    border-radius: 1%;
    cursor: pointer;
    background-color: rgb(212, 194, 245); 
}

.memory-container .message-circle {
    width: 50px;
    height: 50px;
}

.cards-img-container.sound-btn {
    align-items: flex-end;
}


/* memory completed (come styling in quiz end section) *********** */
.hidden {
    visibility: hidden;
}


/* KEYFRAMES ANIMATIONS **************** KEYFRAMES ANIMATIONS **************** KEYFRAMES ANIMATIONS */
@keyframes fadein {
  0% { opacity: 0 }
  100%   { opacity: 1}
}

@keyframes slide { 
    0% {transform: translateX(-400px) translateY(200px) scale(5) rotate(360deg);}
    100% {transform: translateX(0) translateY(0) scale(1);}
}


/* MEDIA QUERIES ***************** MEDIA QUERIES **************** MEDIA QUERIES ************** MEDIA QUERIES */
/* IPADS ****************** IPADS **************** IPADS */
@media only screen 
    and (max-device-width: 1024px)
    and (min-device-width: 768px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {

    /* HOME COMPONENT ************ HOME COMPONENT ***************** HOME COMPONENT */
    .home-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }


    /* LEARNING CARDS *********** LEARNING CARDS ************* LEARNING CARDS */
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 10px;
    }

    /* ANIMALCARD ************** ANIMALCARD ************** ANIMALCARD */
    .mobile-overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .animal-card-container {
        height: 50vh;
        z-index: 2;
        position: absolute;
        top: 25%;
    }

    .card-img-container {
        height: 40vh;
    }

    /* QUIZ ***************** QUIZ ************** QUIZ ********** QUIZ */
    .quiz-component-container {
        justify-content: center;
    }

    .question-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        /* background-color: #fff; */
    }

    .answers-container {
        flex-direction: column;
        width: auto;
    }
}